<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Corretora: A 1ª com corretagem zero, feita para traders</title>
    <link rel="icon" type="image/x-icon" href="/fotos/linkTitle.png">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="centralizar">
                <div class="menubar">
                    <div class="menuitems">
                        <a href="https://corretora.clear.com.br/"><img src="fotos/icon-menu.svg" alt="logo corretora clear" class="logo"></a>
                        <!-- <img src="fotos/icon-menu.svg" alt="logo corretora clear" class="logo"> -->
                        <ul>
                            <a href = "https://www.clear.com.br/site/sobre">
                                <li class="displaynone">Sobre<div class="seta">&#748</div></li>
                            </a>
                            <li class="displaynone">Investimentos<div class="seta">&#748</div></li>
                            <li class="displaynone">Ferramentas<div class="seta">&#748</div></li>
                            <li class="displaynone">Custos<div class="seta">&#748</div></li>
                            <li class="displaynone">Conteúdo <div class="seta">&#748</div></li>
                            <li class="displaynone">Atendimento<div class="seta">&#748</div></li>
                        </ul>
                    </div>
                    <div class="menubuttons">
                        
                        <div class="logconta" id="login">
                            <a href="./login"><button id="login-image">Login</button></a>
                        </div>

                        <div class="logconta" id="login">
                            <a href="./logout"><button id="login-image">Logout</button></a>
                        </div> 

                        {{!-- <div class = "conta-login">
                            <button id="contaheader" class="abrir-tabela">Abrir Tabela</button>
                        </div> --}}

                        <div class="menumobile">
                            <div class="linha1"></div>
                            <div class="linha2"></div>
                            <div class="linha3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div class="myContent show">  
            <img src="fotos/Destaque_Home_DESK_3.webp" class="imgbkg" alt="">
            <div class="slogan">
                <div class="texto-principal">
                    <div class="teste">
                        <h1>
                            <span class="b">COMBO</span> TRADER
                        </h1>
                    </div>
                    <div class="topicos">
                        <p>+ Corretagem zero*</p>
                        <p>+ Plataforma**</p>
                        <p>+ AIA <span class="caixabaixa">(Assistência de Inteligência Artificial)</span></p>
                    </div>    
                </div>
                <div class="abrirconta-email">
                    <div class="alinhacentro">
                        <div>
                            <a href = "./cadastro" >
                                <button id="contacontent" class="abrasuaconta">
                                    Abra sua conta
                                </button>
                            </a>
                        </div>

                        <div>
                            <a href = "./cryptosearch" >
                                <button id="cryptoSearch" class="abrasuaconta">
                                    Consulta Crypto
                                </button>
                            </a>
                        </div>

                        <div>
                            <a href = "./publicacoes" >
                                <button id="contentSearch" class="abrasuaconta">
                                    Publicações
                                </button>
                            </a>
                        </div>

                        <div>
                            <a href = "./users" >
                                <button id="contentSearch" class="abrasuaconta">
                                    Buscar usuários
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascript/script.js"></script>
</body>
</html>